<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="shortcut icon" href="favicon.ico">

<link rel="stylesheet" href="resources/css/bootstrap.min.css" />
<script src="resources/js/bootstrap.min.js"></script>

</head>
<body ng-app="myApp">
	<div class="container" ng-controller="ForumController as ctrl">
		<br/><br/><br/><br/><br/><br/>
		<h2>Add new Forum</h2>
		<form class="form-horizontal" name="myForm" role="form" ng-submit="ctrl.submit()">
			<div class="form-group" ng-class="{'has-error': form.forumcategory.$dirty && form.forumcategory.$error.required}">
				<label for="forumcategory" class="col-sm-3 control-label" style="text-align: right;">Category :</label>
				<div class="col-sm-6">
					<select name="forumcategory" id="forumcategory"class="form-control"
						ng-model="ctrl.forum.forumcategory" required>
						<option value="Other" selected="selected">Other</option>
						<option ng-repeat="fc in ctrl.forumscat" value="{{fc.forumcatname}}">
							{{fc.forumcatname}}
						</option>
					</select>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': form.title.$dirty && form.title.$error.required}">
				<label for="title" class="col-sm-3 control-label" style="text-align: right;">Topic:</label>
				<div class="col-sm-6">
					<input type="text" name="title" id="fstname" class="form-control" placeholder="Forum Title"
						ng-model="ctrl.forum.title" required />
						<span ng-show="form.title.$dirty && form.title.$error.required" class="help-block"></span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': form.description.$dirty && form.description.$error.required}">
				<label for="description" class="col-sm-3 control-label">Question Description :</label>
				<div class="col-sm-6">
					<textarea rows="5" cols="80" id="description" name="description" class="form-control" 
						placeholder="Forum Description"	ng-model="ctrl.forum.description" required></textarea>
					<span ng-show="form.description.$dirty && form.description.$error.required" class="help-block"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<button type="submit" ng-disabled="form$invalid || ctrl.dataLoading" class="btn btn-info">Create</button>
					<button type="reset" class="btn btn-danger" ng-click="ctrl.reset()" >Clear</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>